/* ------------------------------------------------------------------ */
/* CSS Reset  */
html {
  box-sizing: border-box;
  font-size: 16px;
  scroll-behavior: smooth;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

::selection {
  background: hsla(0, 0%, 90%, 1); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: hsla(0, 0%, 90%, 1); /* Gecko Browsers */
}

/* ------------------------------------------------------------------ */
/* CSS General */
/* ------------------------------------------------------------------ */

* {
  transition: all 200ms ease-in-out;
}

html {
  font-family: Calibri, sans-serif;
  color: #869aa5;
  font-size: 12pt;
  width: 100vw;
  overflow-x: hidden;

  -webkit-touch-callout: none; /* iOS Safari */
  -webkit-user-select: none; /* Safari */
  -khtml-user-select: none; /* Konqueror HTML */
  -moz-user-select: none; /* Old versions of Firefox */
  -ms-user-select: none; /* Internet Explorer/Edge */
  user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome, Edge, Opera and Firefox */
}

body {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #f5f6fa;
  min-height: 100vh;
  /* height: 3000px; */
}

/* ------------------------------------------------------------------ */
/* Home Button */
/* ------------------------------------------------------------------ */

.home-btn {
  position: fixed;
  bottom: 12px;
  left: 12px;
  padding: 4px 8px;
  width: auto;
  background-color: white;
  border-radius: 8px;
  font-weight: bold;
  z-index: 10;
  box-shadow: 4px 12px 20px hsla(0, 0%, 0%, 0.1);
}

.home-btn:hover {
  filter: brightness(0.8);
}

.home-btn:active {
  filter: brightness(0.6);
}

a .home-btn {
  color: #48586d;
}

/* ------------------------------------------------------------------ */
/* Top Navigation */
/* ------------------------------------------------------------------ */

.topnav {
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
  height: 60px;
  width: 100%;
  top: 0px;
  left: 0;
  z-index: 10;
  /* background: white; */
  background-image: linear-gradient(
    180deg,
    rgb(255, 255, 255),
    rgba(255, 255, 255, 0.8)
  );
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(4px);

  border-radius: 0 0 20px 20px;

  box-shadow: 0 1px 2px rgba(33, 28, 63, 0.04), 0 2px 4px rgba(33, 28, 63, 0.04),
    0 4px 8px rgba(33, 28, 63, 0.04), 0 8px 16px rgba(33, 28, 63, 0.04),
    0 16px 32px rgba(33, 28, 63, 0.04), 0 32px 64px rgba(33, 28, 63, 0.04);
}

.topnav > div {
  margin: 6px;
  height: 45px;
  /* width: 45px; */
  border-radius: 50px;

  display: flex;
  align-items: center;
}

/* .topnav div:first-child:hover,
.topnav div:last-child:hover {
  filter: brightness(1.1);
} */

/* .topnav div:first-child:active,
.topnav div:last-child:active {
  background-color: rgba(0, 0, 0, 0.1);
} */

.topnav div:first-child:active {
  background-color: rgba(0, 0, 0, 0.1);
}

.nav-theme {
  transform: translateX(10px);
  color: rgba(0, 0, 0, 0.15);
  width: 80px;
  display: flex;
  justify-content: space-around;
  padding: 8px;
  justify-self: flex-end;
}

.nav-theme:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.theme-active {
  color: rgba(255, 151, 55, 0.7);
  transform: scale(1.4);
  margin: 12px;
}

.nav-logo {
  padding: 4px;
  width: 45px;
  height: 45px;
  /* background-color: #869aa518; */
}

.nav-filter {
  transform: translateX(-10px);
  color: rgba(0, 0, 0, 0.2);
  width: 80px;
  justify-content: center;
}

.nav-filter:hover {
  background-color: rgba(0, 0, 0, 0.05);
  cursor: pointer;
}

.nav-filter-container {
  position: absolute;
  top: 60px;
  right: 0px;
  width: 200px;
  font-family: Calibri, sans-serif;
  overflow: hidden;
  transition: all 100ms;
  /* height: 250px; */

  visibility: hidden;
  opacity: 0;

  display: flex;
  flex-direction: column;
  z-index: 11;
  border-radius: 20px;
  background-color: white;

  box-shadow: 0 1px 2px rgba(33, 28, 63, 0.04), 0 2px 4px rgba(33, 28, 63, 0.04),
    0 4px 8px rgba(33, 28, 63, 0.04), 0 8px 16px rgba(33, 28, 63, 0.04),
    0 16px 32px rgba(33, 28, 63, 0.04), 0 32px 64px rgba(33, 28, 63, 0.04);
}

.nav-filter-container > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  list-style-type: none;
}

.nav-filter-container li {
  padding: 15px 0 15px 0;
  width: 100%;
  text-align: center;
}

.nav-filter-container li:hover {
  background-color: rgba(0, 0, 0, 0.05);
}

.nav-filter-container li:first-child {
  padding-top: 20px;
}

.nav-filter-container li:last-child {
  padding-bottom: 20px;
}

.nav-filter-container div:hover {
  filter: brightness(1);
}

/* ------------------------------------------------------------------ */
/* Card Container */
/* ------------------------------------------------------------------ */

.container {
  width: 100vw;
  display: flex;
  justify-content: center;
  overflow-x: hidden;

  padding: 100px 0 100px 0;
  background-color: #f5f6fa;
}

.card-container {
  position: absolute;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: 100%;
  max-width: 1400px;
  transition: all 300ms ease-in-out;
}

/* .container-food,
.container-drinks {
  visibility: hidden;
  opacity: 0;
} */

.slide-out-left {
  transform: translateX(-200px);
  visibility: hidden;
  opacity: 0;
}

.slide-out-right {
  visibility: hidden;
  opacity: 0;
  transform: translateX(-200px);
}

.card {
  background-color: white;
  border-radius: 10px;
  margin: 20px 20px 80px 20px;

  width: 100%;
  max-width: 400px;
  min-width: 300px;
  height: 180px;

  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.07);

  user-select: none;
}

.card:hover {
  cursor: pointer;
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.12);
  transform: scale(1.05);
}

.card:hover .bar-details,
.bar-title {
  margin-top: -20px;
}

.card:active {
  transform: scale(0.95);
  filter: brightness(0.9);
}

.card-image {
  border-radius: 10px;
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.card img {
  width: 100%;
  height: 100%;
  background-color: rgba(145, 145, 145, 0.158);
}

.bar-title {
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 8, 49, 0.1);

  display: flex;
  align-items: center;
  padding-left: 16px;
  height: 40px;
  width: 90%;
  margin: 0 auto;
  transform: translateY(-70px);

  z-index: 2;
  /* z-index isn't working for some reason??? */
}

.bard-title i {
  color: rgba(72, 88, 109, 0.5);
}

.bar-title h4 {
  font-weight: 900;
  margin-left: 16px;
  font-size: 18px;
  color: #48586d;
}

.bar-details {
  display: flex;
  align-items: center;
  justify-content: space-around;
  list-style-type: none;
  background-color: white;
  border-radius: 10px;
  box-shadow: 0 10px 20px rgba(0, 8, 49, 0.1);
  height: 50px;
  margin: 0 auto;
  width: 80%;
  transform: translateY(10px);
  font-size: 14px;

  z-index: -1;
  /* z-index isn't working for some reason??? */
}

.bar-details li {
  /* border-right: 1px solid #99a8bc; */
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  /* background-color: red; */
  text-align: center;
  padding-top: 10px;
  width: 100%;
  color: #869aa58a;
  font-weight: bold;
}

.divider-line {
  height: 100%;
  width: 1px;
  background-color: #99a8bc;
  opacity: 0.3;
}

li span {
  font-weight: bold;
  color: #869aa5;
  margin-left: 4px;
}

/* ------------------------------------------------------------------ */
/* Modals */
/* ------------------------------------------------------------------ */

.mask {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(39, 43, 48, 0.9);
  z-index: 15;
  visibility: hidden;

  opacity: 0;

  transition: 200ms;
}

.modal {
  display: flex;
  justify-content: center;
  width: 100%;
  height: 97vh;
  position: fixed;
  bottom: 0;
  z-index: 20;

  border-radius: 25px 25px 0 0;
  background-color: white;

  overflow-y: scroll;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */

  visibility: hidden;
  opacity: 1;

  transition: 300ms ease-out;

  transform: translateY(97vh);
}

/* Hide scroll bar but keep functionality in Chrome, Safari and Opera */
.modal::-webkit-scrollbar {
  display: none;
}

/* Hide all HTML recipe content */
.modal-content {
  visibility: hidden;
  opacity: 0;

  display: flex;
  flex-wrap: wrap;

  position: absolute;
  padding-top: 80px;
  width: 100%;
  height: 2000px;
}

.content-header {
  position: relative;
  width: 100%;
  height: 200pz;
  top: 0;
}

.btn-close {
  height: 40px;
  width: 40px;
  background-color: white;
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  border-radius: 50px;
  position: absolute;
  right: 20px;
  top: 20px;
  z-index: 15;

  display: flex;
  align-items: center;
  justify-content: center;

  cursor: pointer;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
}

.btn-close:hover {
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);
}

.active {
  visibility: visible;
  opacity: 1;
}

.modalUp {
  transform: translateY(0);
}

/* ------------------------------------------------------------------ */
/* Mobile */
/* ------------------------------------------------------------------ */

@media only screen and (max-width: 600px) {
  .bar-title h4 {
    font-size: 18px;
  }

  .bar-details {
    font-size: 12px;
  }

  /* .slide-out-right {
    transform: translateX(-200px);
    /* Reverting to slide-out-left functionality, cause horizontal scroll on mobile 
  } */

  .modalUp {
    transform: translateY(5vh);
  }
}
