/* ------------------------------------------------------------------ */
/* CSS Reset  */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  text-decoration: none;
}

/* ------------------------------------------------------------------ */
/* CSS General */

* {
  transition: all 200ms ease-in-out;
}

html {
  background-color: #f5f6fa;
  font-family: Calibri, sans-serif;
  color: #869aa5;
  font-size: 12pt;
}

.page1 {
  height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

h1 {
  color: #5f7b8b;
  font-weight: bold;
  font-size: 20pt;
}
h2 {
  color: #a4b6c1;
  font-size: 14pt;
  margin-bottom: 16px;
}
h3 {
  color: #5f7b8b;
  font-weight: bold;
  font-size: 12pt;
  margin: 20px 0 10px 0;
}

.card {
  background-color: white;
  border-radius: 15px;
  height: 500px;
  width: 350px;
  padding: 35px;
  display: flex;
  flex-direction: column;
}

.card-picture {
  z-index: 0;
  background-image: url("Christian-Roy-Seattle.png");
  background-position: center right;
  background-size: cover;
  background-color: #c6deeb;
  transform: translateX(40px);
  box-shadow: 0px 20px 40px hsla(207, 46%, 27%, 0.2);
}

.card-picture:hover {
  transform: translate(30px, 0px);
}

.card-bio {
  z-index: 1;
  transform: translateX(-40px);
  box-shadow: 0px 20px 40px hsla(0, 0%, 0%, 0.1);
}

.card-bio p {
  text-align: justify;
}

.card-bio:hover {
  box-shadow: 0px 20px 40px hsla(0, 0%, 0%, 0.15);
}

.btn-light {
  padding: 14px 16px;
  margin: 10px 0 0 0;
  border: none;
  background-color: #f2f3f8;
  border-radius: 10px;
  width: 100%;
  color: #a4b6c1;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: all 100ms ease-in-out;
}

.btn-light:active {
  filter: brightness(80%);
}

.btn-light:focus {
  outline: none;
}

i {
  font-size: 18px;
}

.footer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 50px;
  margin-top: -50px;
  background-color: hsla(0, 0%, 100%, 0.5);
  border: 1px solid hsla(0, 0%, 0%, 0.05);
}

.footer a {
  color: hsla(0, 0%, 0%, 0.3);
  padding: 4px 8px;
  margin: 0px 2px;
}

.footer a:hover {
  /* color: hsla(0, 0%, 0%, 0.5); */
  text-decoration: underline;
  /* background-color: rgba(0, 0, 0, 0.04); */
  /* border-radius: 4px; */
  /* transition: all 0ms ease-in-out; */
}

#linkedin i {
  color: #0172b1;
}

#linkedin:hover i {
  color: white;
}

#linkedin:hover {
  background-color: #0172b1;
  color: white;
}

#dribbble i {
  color: #eb4c89;
}

#dribbble:hover i {
  color: white;
}

#dribbble:hover {
  background-color: #eb4c89;
  color: white;
}

.btn-light p {
  padding-left: 15px;
  font-weight: bold;
}

.social {
  margin-top: auto;
  display: block;
}

/* ------------------------------------------------------------------ */
/* Animations */

body {
  animation: fadeInAnimation ease 600ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.card-picture {
  animation: pushDown ease 800ms;
  animation-iteration-count: 1;
}

.card-bio {
  animation: pushUp ease 800ms;
  animation-iteration-count: 1;
}

h1 {
  animation: pushLeft ease 600ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

h2 {
  animation: pushLeft ease 800ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.details h3 {
  animation: pushLeft ease 1000ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

.details p {
  animation: pushLeft ease 1400ms;
  animation-iteration-count: 1;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnimation {
  0% {
    opacity: 0;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes pushDown {
  0% {
    transform: translate(40px, -100px);
  }
  100% {
    transform: translate(40px, 0px);
  }
}

@keyframes pushUp {
  0% {
    transform: translate(-40px, 100px);
  }
  100% {
    transform: translate(-40px, 0px);
  }
}

@keyframes pushUpTrue {
  0% {
    transform: translate(0px, 100px);
  }
  100% {
    transform: translate(0px, -40px);
  }
}

@keyframes pushLeft {
  0% {
    transform: translateX(50px);
  }
  100% {
    transform: translateX(0px);
  }
}

/* ------------------------------------------------------------------ */
/* Mobile */

@media only screen and (max-width: 600px) {
  .page1 {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
  }

  .card-picture {
    background-position: center;
    transform: translateX(0px);
    width: 100%;
    border-radius: 0;
    animation: fadeInAnimation ease 600ms;
    animation-iteration-count: 1;
  }

  .card-picture:hover {
    transform: translateX(0px);
  }

  .card-bio {
    display: flex;
    flex-direction: column;
    transform: translateX(0px);
    transform: translateY(-40px);
    animation: pushUpTrue ease 600ms;
    animation-iteration-count: 1;
    height: 100%;
    margin-bottom: 100px;
  }

  .details {
    margin-bottom: 40px;
  }
}
