/* Color Variables */
:root {
  /* Main */
  --c-background: #f4f9fb;
  --c-shadow-100: #00334d; /* shadow at 100% */
  --c-shadow-10: hsla(200, 100%, 15%, 0.1); /* shadow at 10% */
  --c-shadow-15: hsla(200, 100%, 15%, 0.15); /* shadow at 15% */
  --c-shadow-20: hsla(200, 100%, 15%, 0.2); /* shadow at 20% */
  --c-icon: #a3b8c2;
  /* Text */
  --c-title: #1a3c4d;
  --c-subtitle: #a3b8c2;
  --c-divider: #d9ebf2;
  --c-paragraph: #668999;
  /* Social Media */
  --c-linkedin: #0077b5;
  --c-dribbble: #ee528a;
  --c-facebook: #3c67ae;
}

/* Minimal CSS Reset */
html {
  box-sizing: border-box;
  font-size: 16px;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body,
h1,
h2,
h3,
h4,
h5,
h6,
p,
ol,
ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
}

ol,
ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  /* max-width: 100%; */
  height: auto;
}

Button {
  border: none;
  margin: 0;
  padding: 0;
  width: auto;
  overflow: visible;

  background: transparent;

  /* inherit font & color from ancestor */
  color: inherit;
  font: inherit;

  /* Normalize `line-height`. Cannot be changed from `normal` in Firefox 4+. */
  line-height: normal;

  /* Corrects font smoothing for webkit */
  -webkit-font-smoothing: inherit;
  -moz-osx-font-smoothing: inherit;

  /* Corrects inability to style clickable `input` types in iOS */
  -webkit-appearance: none;
}

/* Main CSS Begin */
/* -------------- */

::selection {
  background: var(--c-shadow-10);
}

* {
  transition: transform 200ms ease-in-out;
}

body {
  background-color: var(--c-background);
  font-family: "Roboto", sans-serif;
  color: var(--c-paragraph);
}

h1 {
  font-family: "Playfair Display", serif;
  color: var(--c-title);
  font-size: 30px;
  font-weight: 700;
  margin-top: 48px;
  margin-bottom: 4px;
  animation: fadeInLeft 300ms ease-in-out 0s 1;
}

h2 {
  color: var(--c-subtitle);
  font-size: 16px;
  margin-top: 0px;
  margin-bottom: 32px;
  animation: fadeInLeft 500ms ease-in-out 0s 1;
}

h3 {
  color: var(--c-title);
  font-size: 16px;
  margin-bottom: 4px;
  font-weight: 700;
  animation: fadeInLeft 700ms ease-in-out 0s 1;
}

.divider {
  width: 22px;
  height: 4px;
  background-color: var(--c-divider);
  margin-bottom: 12px;
  animation: fadeInLeft 700ms ease-in-out 0s 1;
}

p {
  font-size: 14px;
  margin-bottom: 12px;
  animation: fadeInLeft 900ms ease-in-out 0s 1;
}

/* SECTION: Card General */
/* --------------------- */

.card {
  background-color: white;
  max-width: 650px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;

  margin-top: 100px;
  margin-bottom: 100px;

  border-radius: 12px;
  box-shadow: 0px 20px 80px var(--c-shadow-10);
  animation: fadeInUp 600ms ease-in-out 0s 1;
}

/* SECTION: Card Main */
/* ------------------ */

.card-main {
  display: flex;
  padding-right: 100px;
  padding-left: -20px; /* padding-left = 'pic-width' minus 'padding-right' */
  padding-bottom: 20px;
}

.card-main:hover p {
  transform: translateX(4px);
}

.card-main-pic img {
  width: 120px;
  height: 120px;
  border-radius: 100px;
  /* border: solid 4px white; */
  box-shadow: 0px 0px 0px 4px white, 0 20px 30px var(--c-shadow-15);
  transform: translateX(-20px);
  background-color: var(--c-icon);
  margin-top: 40px;
  user-select: none;
}

.card-main-pic img:hover {
  transition: transform 200ms ease-in-out;
  transform: translateX(-24px) scale(1.1);
}

.card-main-content {
  text-align: justify;
  line-height: 1.4;
}

/* SECTION: Card Social */
/* -------------------- */

.card-social {
  background-color: var(--c-background);
  border-radius: 0 0 12px 12px;
  padding: 30px 0;
  display: flex;
  justify-content: center;
}

.card-social button {
  display: flex;
  position: relative;
  flex-direction: row;
  background-color: white;
  border-radius: 4px;
  margin: 0px 4px 8px 4px;

  transition: 200ms ease-in-out;

  outline: 2px solid hsla(0, 0%, 0%, 0);

  width: 200px;
  max-width: 215px;
  height: 40px;

  box-shadow: 0 10px 40px var(--c-shadow-10);

  cursor: pointer;
  display: block;
  user-select: none;
  color: var(--c-subtitle);
  font-weight: 500;
  font-size: 14px;

  display: flex;
  align-items: center;
  justify-content: center;

  z-index: 1;
  /* outline: solid 1px red; */
}

.card-social button:hover {
  opacity: 1;
}

.card-social button p {
  margin-bottom: -2px;
  font-weight: 500;
}

/* button::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 20%;
  height: 4px;
  border-radius: 1px;
  width: 60%;
  margin: 0 auto;
  transform: translateY(4px);
  opacity: 0;
} */

/* button:hover::after {
  transition: transform 200ms ease;
  transform: translateY(0px);
  opacity: 1;
} */

button:active {
  filter: brightness(0.95);
  transform: scale(0.9);
}

.icon {
  /* margin: 0 12px; */
  margin-right: 8px;
  width: 14px;
  height: 16px;
}

.icon-linkedin {
  -webkit-mask: url("svg/linkedin.svg");
  mask: url("svg/linkedin.svg");
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--c-linkedin);
}

#btn-linkedin:hover {
  outline: 2px solid var(--c-linkedin);
}

/* #btn-linkedin::after {
  background-color: var(--c-linkedin);
} */

.icon-facebook {
  -webkit-mask: url("svg/facebook.svg");
  mask: url("svg/facebook.svg");
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--c-facebook);
}

#btn-facebook:hover {
  outline: 2px solid var(--c-facebook);
}

/* #btn-facebook::after {
  background-color: var(--c-facebook);
} */

.icon-dribbble {
  -webkit-mask: url("svg/dribbble.svg");
  mask: url("svg/dribbble.svg");
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--c-dribbble);
}

#btn-dribbble:hover {
  outline: 2px solid var(--c-dribbble);
}

/* #btn-dribbble::after {
  background-color: var(--c-dribbble);
} */

.icon-projects {
  -webkit-mask: url("svg/projects.svg");
  mask: url("svg/projects.svg");
  -webkit-mask-size: cover;
  mask-size: cover;
  background-color: var(--c-icon);
  height: 14px;
}

#btn-projects:hover {
  outline: 2px solid var(--c-icon);
}

/* #btn-projects::after {
  background-color: var(--c-icon);
} */

/* CSS Animations */

@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-12px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}

@keyframes fadeInLeft {
  0% {
    opacity: 0;
    transform: translateX(24px);
  }
  100% {
    opacity: 1;
    transform: translateX(0px);
  }
}

/* Mobile Screen CSS */

@media screen and (max-width: 700px) {
  .card {
    width: 80%;
    max-width: 450px;
    margin-top: 20px;
  }

  .card-main {
    display: flex;
    flex-direction: column;
    width: 100%;
    padding: 0;
    margin: 0;
  }

  .card-main-pic {
    /* outline: solid 1px red; */

    padding: 0;
    margin: auto;
    transform: translateX(20px);
    /* margin-left: 20px; */
    /* padding-left: 20px; */
  }

  .card-main-pic img:hover {
    transition: transform 200ms ease-in-out;
    transform: translateY(-8px) translateX(-20px) scale(1.1);
  }

  .card-main-content {
    /* outline: solid 1px red; */

    width: 100%;

    align-items: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 32px;
  }

  h1 {
    margin-top: 16px;
  }

  .divider {
    margin-bottom: 24px;
  }

  .card-main-content p {
    max-width: 70%;
    line-height: 1.6;
  }

  .card-main:hover p {
    transform: translateX(0px);
  }

  .card-social {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
  }

  .card-social button {
    margin-bottom: 16px;
  }
}
